// 1 设置下边框,需配合base.styl的媒体查询进行边框1px缩放设置
border-1px($color)
  position: relative
  &:after
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    border-top: 1px solid $color
    content: ''
// 清除底部1px边框
border-none()
  &:after
    display: none

// todo 4 2x图与3x图的媒体查询
bg-image($url)
  background-image: url($url+'@2x.png')
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url+'@3x.png')

// icon方法
icon($size,$number)
  display: inline-block
  vertical-align: top
  width: $size
  height: $size
  background-size: $size $size
  background-repeat: no-repeat
  &.decrease
    bg-image('decrease_'+$number)
  &.discount
    bg-image('discount_'+$number)
  &.guarantee
    bg-image('guarantee_'+$number)
  &.invoice
    bg-image('invoice_'+$number)
  &.special
    bg-image('special_'+$number)
